
body {
    background: #725025;
    font-family: Arial;
}
h1 {
    color: red;
}
/* 5wdZ7WM8dbo0rD77JBqU1LTlSBzuhGfDoxc8x1iVbflEFkj5yaI5VLX4p3X01XqdsmvE88sh0NnXAHdtGXUTglsHXcQfhR8qHJSpqO1ApxHUkFg5qoSsqTUwE22KKiCBh8e9TE3OgIHePJ1hFvNs1bVCBeuEsrSwFtHJ1FYz3LrGb7huyZz0KWXBBCw9smgMcqjGxrWZ */
